{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">

    <h1>{{ title }}</h1>

    {% for row in rows %}
        <section>
            <h1>Author {{ row.author }} {{ row.authorId }}</h1>
            <p>Title {{ row.title }}</p>
            <p>{{ row.content }} </p>
            <p>Posted {{ row.createdAt }}</p>
        </section>
    {% endfor %}

</main>
{% endblock %}