{% extends "layout.njk" %}
{% block content %}
<main>
<h1>{{ title }}</h1>
    <form action="/login" method="POST" class="login">
        <input type="text" name="username" placeholder="Username" class="padding">
        <input type="password" name="password" placeholder="Password" class="padding">
        <button type="submit" class="padding">Login</button>
    </form>
</main>
{% endblock %}