{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">
    <h1>{{ title }}</h1>

<form action="/posts" method="post">
    <input type="text" name="title" id="title" placeholder="Title" class="titlefield">
    <textarea name="content" id="content" cols="30" rows="10" placeholder="Content" class="contentfield"></textarea>
    <button type="submit" class="padding">Post</button>
</form>

</main>
{% endblock %}