{% extends "layout.njk" %}
{% block content %}
<main>
<h1>{{ name }} Profile</h1>
    {% for row in rows %}
        <section class="post">
            <p>{{ row.author }}</p>
            <h1>{{ row.title }}</h1>
            <p>{{ row.content }} </p>
            <p class="created">Posted {{ row.createdAt }}</p>
        </section>
{% endfor %}
</main>
{% endblock %}